.cover__link {
    text-decoration: none;
}

.cover__link::before {
    content:"";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(42, 44, 47);
    opacity: .3;
}

.cover__link:hover::before {
    opacity: .8;
}