.place__paragraph {
    margin: 26px 0 0 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
}

.place__paragraph:first-of-type {
    margin-top: 0;
}

@media screen and (max-width: 768px){
    .place__paragraph {
        font-size: 16px;
        margin-top: 25px;
    }
}

@media screen and (max-width: 590px){
    .place__paragraph {
        padding: 0 16px;
    }
}