.footer__copyright {
    margin: 0;
    max-width: 186px;
    min-height: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

@media screen and (max-width: 320px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 14px;
    }

    .footer__copyright {
        margin: 48px 0 0;
    }
}