.lead__subtitle {
    font-family: 'Inter', sans-serif;
    margin: 0;
    max-width: 640px;
    min-height: 72px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 32px;
}

@media screen and (max-width: 667px) {
    .lead__subtitle {
        padding-top: 16px;
        max-width: 288px;
        min-height: 40px;
        font-size: 16px;
        line-height: 20px;
    }
}