.cover {
    margin: 92px auto 0;
    max-width: 1184px;
    min-height: 200px;
    position: relative;
}

@media screen and (max-width: 768px) {
    .cover {
        margin: 90px auto 0;
    }
}

@media screen and (max-width: 370px) {
    .cover {
        margin: 66px auto 0;
    }
}
