.place__website {
    display: grid;
    row-gap: 12px;
    align-items: start;
    align-content: end;
}

@media screen and (max-width: 590px){
    .place {
        grid-template-columns: repeat(auto-fit, 320px);
        row-gap: 32px;
    }

    .place__website {
        grid-row-start: 2;
        grid-row-end: 3;
        padding: 0 16px;
    }
}